# variables

In [5]:
my_age = 56
my_age =45
print(my_age)

45

In [8]:
a, b, g = 'fan', 'tea', 'bread'
print(g)
print(a)
print(b)

bread
fan
tea

In [9]:
not_loading = False
print(not_loading)

False

## formated strings

In [24]:
name = 'Ebuka'
age = int(32)
print(f"{name} is {age} years old")

Ebuka is 32 years old

# concatenation

In [25]:
print(age)
print('my name is ' + name )
type(age)

32
my name is Ebuka

int

# text input

In [19]:
name = input('what is ur name??  ')
age = input('how old are you?? ')
location = input('where do you live?? ')
print(f" Hi {name} \n Ypu are {age} years old \n You live in {location}")

 Hi obiora
 Ypu are 30 years old
 You live in canberra

In [111]:
def show_data () :
    name = input('what is ur name??  ')
    age = input('how old are you?? ')
    location = input('where do you live?? ')
    print(f" Hi {name} \n You are {age} years old \n You live in {location}")

In [112]:
show_data()

 Hi Obiora
 You are 29 years old
 You live in melbourne

#

# Age counter

In [109]:
name1 = input("what's ur name?")
birth_day = input('your date of birth')
age = 2024 - int(birth_day)
print(f" Hi {name1}! \n you are {age} years old" )

 Hi pylot!
 you are 33 years old

In [35]:
course = "forever lord jesus"
print(course[:])
print(course[:-3])
print(course[2:6])
print(course[3:])
print(course[-3])
print(course[6])

forever lord jesus
forever lord je
reve
ever lord jesus
s
r

In [37]:
print('pylot'.upper())

PYLOT

In [38]:
nall = 'mr famy ia around'
print(nall.upper())

MR FAMY IA AROUND

In [39]:
my_text = 'you are right'
my_text.replace('right', 'good')

'you are good'

In [40]:
my_text = 'good day mr john'
print('john' in my_text)

True

# Arithemetic operator

In [41]:
print(4+4)

8

In [42]:
print(10//7)

1

In [43]:
print(10/7)

1.4285714285714286

In [44]:
print(10%8)

2

In [45]:
print(5**3)

125

In [46]:
5-2

3

In [47]:
5*6

30

In [48]:
a = 5
a += 10

In [49]:
print(a)

15

In [50]:
round(3.45)

3

In [51]:
round(3.588)

4

# List/For-Loops

In [16]:
new_array = ['james', 'john', 'jane', 'joyce', 'janet']
print(new_array[3])
print(new_array[-2])
print(new_array[:-2])
for i in new_array :
    print(i, 'loves coding')

joyce
joyce
['james', 'john', 'jane']
james loves coding
john loves coding
jane loves coding
joyce loves coding
janet loves coding

In [59]:
print(new_array[4])
print(new_array[0])
for numbers in range(2, 20, 2) :
    print(numbers)

janet
james
2
4
6
8
10
12
14
16
18

In [ ]:
for array in 'arrays' :
    print(array)

In [ ]:
for x in range(10) :
    for y in range(20) :
        print(x + y)

In [85]:
new_list = [2, 4, 6, 8, 10, 12, 14, 4 ]
max = 0
for item in new_list :
    item += max
    max = item
print(max)

60

# List methods

In [86]:
new_list.append(45)
print(new_list)

[2, 4, 6, 8, 10, 12, 14, 4, 45]

In [88]:
new_list.insert(1, 50)
print(new_list)

[2, 50, 4, 6, 8, 10, 12, 14, 4, 45, 1]

In [94]:
new_list.remove(4)
new_list

[2, 50, 6, 8, 10, 12, 14, 1]

In [96]:
car = 4

In [99]:
new_list

[50, 6, 8, 10, 12, 14, 1]

In [103]:
new_list.pop(0)
new_list

[6, 8, 12, 14, 1]

In [105]:
arrge = [10, 4, 1, 9, 3]
arrge.sort()
arrge

[1, 3, 4, 9, 10]

In [106]:
rem3 = [2, 3, 7, 3, 7, 9, 3]
x = set(rem3)
x

{2, 3, 7, 9}

# Sets

In [119]:
items1 = {4, 5, 1, 9, 3}
items2 = {20, 30, 40, 50}
print(items1 | items2)

{1, 3, 4, 5, 40, 9, 50, 20, 30}

In [120]:
items1 = {4, 5, 1, 9, 3}
items2 = {20, 5, 40, 9}
print(items1 & items2)

{9, 5}

# Tuples

In [121]:
list3 = ('mark', 'cole', 'bumi')
list3[2]

'bumi'

# Functions

In [113]:
def add_nums (a, b) :
    return(a + b)

add_nums(30, 5)

35

In [117]:
def greet_users (name) :
    print('hi! ' + name + ' welcome onboard')
    print('pls put on ur seat belt')
greet_users('pylot')

hi! pylot welcome onboard
pls put on ur seat belt

# Lambda Function

In [123]:
v = lambda x, y : x * y
print(v(3, 5))

15

# condtion statement

In [4]:
age = 30

if age > 30 :
    print('welcome to my party')
elif age == 30 :
    print('emergency')
else :
    print('go home')

emergency

In [3]:
age = 45
is_married = True

if age > 40 and not is_married :
    print('ur eligible for the role')
    print('welcome dear')
else :
    print('kindly go home') 
    print('ur disqualified')

kindly go home
ur disqualified

In [19]:
names = ['mark', 'john', 'adams', 'choice']
sex ='Male'

if names[1] == 'john' or sex == 'male':
    print('welcome to my party')
elif names[3] == 'choice' and sex == 'Male':
    print('congrats, ur a king')
else :
    print("you aren't eligible")

welcome to my party

# Dictionary

In [28]:
dick2 = {
    'name': 'obyno',
    'age': 45,
    'sex': 'male',
    'hobby': 'volleyball',
    'is_married': False
}

dick2['is_married']
print(dick2)

{'name': 'obyno', 'age': 45, 'sex': 'male', 'hobby': 'volleyball', 'is_married': False}